/* Template Common Styles Starts Here */
.section-gap {
  @apply py-[60px];
}
.template-container {
  @apply container mx-auto px-2;
}
.two-lines-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.one-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
/* Template Common Styles Ends Here */
